<h2>Reactivo: Switches</h2>
<hr />

<form [formGroup]="miFormulario">
  <!--Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Genero</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="radioMasculino"
          value="M"
          formControlName="genero"
        />
        <label class="form-check-label" for="radioMasculino"> Masculino </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          id="radioFemenino"
          value="F"
          formControlName="genero"
        />
        <label class="form-check-label" for="radioFemenino"> Femenino </label>
      </div>
    </div>
  </div>

  <!--Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2s">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          formControlName="notificaciones"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked">
          Quiero recibir notificaciones
        </label>
      </div>
    </div>
  </div>
  <!--Check -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="Condiciones"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Terminos y condiciones
        </label>
      </div>
    </div>
  </div>

  <!--Boton Submit-->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              type="submit"          
      >Guardar</button>
    </div>
  </div>
</form>
<h5>Valor del formulario</h5>
<pre>{{ miFormulario.value | json }}</pre>
<br />

<h5>Valid</h5>
<pre>{{ miFormulario.valid }}</pre>
